{% extends 'temp.html' %}
{% block content %}

<h1>Donor</h1>

<form method="POST">



    {% csrf_token %}
            {% for field in form %}

                <p>

                    {{ field.label_tag }}
                    {{ field }}

                    {% if field.help_text %}

                        <small style="color: black;"> {{ field.help_text }} </small>

                    {% endif %}

                    {% for error in field.errors %}

                        <p style="color: red;"> {{ error }} </p>

                    {% endfor %}



            {% endfor %}
    <button class="btn btn-outline-primary" type="submit">Search</button>
</form>

{% for donor in donor_list %}

    {{donor.full_name}} <br>
{{donor.blood_group}}<br>
{{donor.contact}}
<br>
{{donor.location}} <br><p>---</p>

{% endfor %}






    {% endblock %}