{% extends 'temp.html' %}
{% block content %}
<div class="p-3 mb-2 bg-success text-white" >
  <h1>Donor</h1>
</div>






<section class="indent-1">
    <!-- Section 1 -->
    <section>

    </section>

    <!-- Section 2 -->
    <section>
        <div class="p-3 mb-2 bg-secondary text-white">




            <form method="POST">



    {% csrf_token %}
            {% for field in form %}

                <p>

                    {{ field.label_tag }}
                    <p style="color:black"> {{ field }} </p>

                    {% if field.help_text %}

                        <small style="color: black;"> {{ field.help_text }} </small>

                    {% endif %}

                    {% for error in field.errors %}

                        <p style="color: red;"> {{ error }} </p>

                    {% endfor %}



            {% endfor %}
    <button class="btn btn-primary" type="submit">Search</button>
</form>

{% for donor in donor_list %}
<div class="p-3 mb-2 bg-success text-white" >
   <h1> {{donor.full_name}} </h1><br>
{{donor.blood_group}}<br>
{{donor.contact}}
<br>
{{donor.location}} <br>
</div>
{% endfor %}



        </div>

    </section>
</section>


    {% endblock %}