{% extends 'temp.html' %}
{% block content %}

{% load static %}
<center>
<img src="{% static 'bloodinneed/images/binlogo.png' %}" class="img-fluid" alt="..." width="200" height="200">
<h1>  <small class="text-muted">Welcome to the</small> Blood In Need Website</h1>
<p>Developed with Python Django (SQLlite)</p>
<h2>Be a Donor, Read health blogs, Find Blood Donor.</h2></center><br><br>
<h1><a class="btn btn-primary btn-lg  btn-block" href="{% url 'signup' %}" role="button">Signup</a></h1>
<h1><a class="btn btn-primary btn-lg  btn-block" href="{% url 'login' %}">Login</a></h1>
<h1><a style="background color:red" class="btn btn-primary btn-lg btn-block" href="{% url 'blog'  %}">View Blogs/Blood Need</a></h1>

{% endblock %}