{% extends 'temp.html' %}
{% block content %}







<section class="indent-1">
    <!-- Section 1 -->
    <section>
        <div></div>
        <div></div>
    </section>

    <!-- Section 2 -->
    <section>
        <div>






            <form method="POST">

<div class="p-3 mb-2 bg-secondary text-white">
    <span></span>

    {% csrf_token %}
            {% for field in form %}

                <p>

    <h1>{{ field.label_tag }}</h1>
                <p style="color:black"> {{ field }} </p>

                    {% if field.help_text %}

                        <small style="color: black;"> {{ field.help_text }} </small>

                    {% endif %}

                    {% for error in field.errors %}

                        <p style="color: red;"> {{ error }} </p>

                    {% endfor %}

                </p>

            {% endfor %}
    </div>
    <button class="btn btn-primary btn-lg" type="submit">Submit</button>
</form>









        </div>
        <div></div>
    </section>
</section>

{% endblock %}