{% extends 'temp.html' %}
{% block content %}












<section class="indent-1">
    <!-- Section 1 -->
    <section>

    </section>

    <!-- Section 2 -->
    <section>
        <div>



{% csrf_token %}
<div class="border border-primary bg-info" align="center">
    <div style="background color: red" class="p-3 mb-2 bg-danger text-white"><h2>Profile</h2></div>
<h1 style="color:white">Full Name: {{user.full_name}}</h1>
<h1>Contact: {{user.contact}}</h1>
<h1>Location: {{user.location}}</h1>
<h1>User Name: {{user.username}}
    <h1>Blood Group: {{user.blood_group}}</h1>
{% if  user.is_donor %}
<h1>You are a Donor</h1>
{%else %}<h1>You are not a Donor. Be one. <a href="{% url 'update'%}">Update Profile</a> </h1>
{% endif %}

</div>




        </div>

    </section>

     <section>

    </section>


  <center>  <h1 style="background-color: red; color: white">Related to your blood group</h1></center>
{% for blog in blog_blood %}
<div class="border border-primary bg-warning" align="center">
    <p> <strong>{{blog.user.full_name}}</strong> {% if blog.need %}
Needs <strong>{{blog.blog_blood_group}}</strong> Blood </p>Contact: {{blog.user.contact}} Near: {{blog.location}}
{%else%}
publishes this blog
{% endif %}<br>
   <p>posted on {{blog.date}}</p>
    <h3>{{blog.content}}</h3>

</div>
    <br>
    <br>
{% endfor %}


</section>














{% endblock %}