{% extends 'temp.html' %}
{% block content %}






<section class="indent-1">
    <!-- Section 1 -->
    <section>

    </section>

    <!-- Section 2 -->
    <section>
        <div class="p-3 mb-2 bg-secondary text-white">

       <form  method="POST">

 {% csrf_token %}
            {% for field in form %}

                <p>

           <h1>{{ field.label_tag }}</h1>
                    {{ field }}

                    {% if field.help_text %}

                        <small style="color: black;"> {{ field.help_text }} </small>

                    {% endif %}

                    {% for error in field.errors %}

                        <p style="color: red;"> {{ error }} </p>

                    {% endfor %}

                </p>

            {% endfor %}
            {% block create_or_update %}
                <button class="btn btn-primary btn-lg btn-block" type="submit">Register</button>
                <!--      <input type="submit" value="Register">-->
           <br>
                <p>
                    Already have an account?
                    <a class="btn btn-primary btn-lg" href="{% url 'login' %}">Sign in</a>.
                </p>
      {% endblock %}

</form>








        </div>

    </section>
</section>




{% endblock %}